.logoutMenu {
  top: 0;
  margin-left: auto;
  line-height: 64px;
  height: 64px;
}

.avatarHeader {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.currentUser {
  margin-left: 8px;
}
