.tableActions {
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

.mealsFilters {
  display: flex;
  flex-wrap: wrap;
}

.timePickers {
  min-width: 256px;
}

.mealItem {
  background: white;
}

.mealCalories {
  font-weight: bold;
}

.datePicker {
  margin-right: 5px;
}
