.table-actions {
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

.meals-filters {
  display: flex;
  flex-wrap: wrap;
}

.time-pickers {
  min-width: 256px;
}

.meal-item {
  background: white;
}

.meal-calories {
  font-weight: bold;
  /* color: black; */
}

.date-picker {
  margin-right: 5px;
}
