.layout {
  min-height: calc(100vh);
}

.app-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e8e8e8;
}

.menu-container {
  display: flex;
}

.app-header-menu {
  line-height: 64px;
  height: 64px;
}

.logout-menu {
  top: 0;
  margin-left: auto;
  line-height: 64px;
  height: 64px;
}

.logo {
  color: white;
  float: left;
  font-size: 2em;
  margin-right: 20px;
}

.app-content {
  margin-top: 96px;
}

/* blue header */
/* background: '#042040', */

#heart {
  color: #ac4d4d;
}

.footer {
  text-align: center;
}

#nprogress .bar {
  background: #1890ff;
}
